
.GeneralInfo-Name,.GeneralInfo-Data{
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
.GeneralInfo-DataLabel,.GeneralInfo-Data{
    font-size: 1rem;
}
.GeneralInfo-DataLabel{
    font-weight: bold;
}
.GeneralInfo-EditButton{
    border: 0;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(80, 107, 131);
    cursor: pointer;
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.ExperienceInfo{
    font-family: 'Slabo 27px', serif;
    font-size: 1.1rem;
    margin:0 20px 20px 50px;
    display: flex;
    gap: 40px;
}
.Experience-bold{
    font-weight: bold;
}
.Experience-italic{
    font-style: italic;
}
.EditUpdateButtons button{
    padding:4px;
    border-radius: 5px;
    border:1px solid rgb(80, 107, 131);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor:pointer;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    margin-right: 5px;
}
.ExperienceInfo-Right p{   
        max-width: 60ch;
        word-break:break-all;
}